.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(12px + 2vmin);
  color: #282c34;
  width: 90%;
  max-width: 1200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: calc(16px + 3vmin);
  color: white;
  /* margin-top: 1vh; */
  min-height: 10vh;
  padding: 1rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34; /* Color de fondo deseado */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%; /* Ajusta el ancho al 100% en pantallas más pequeñas */
  }
}

/* Alineación de checkbox, leyenda y campo de entrada */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: white;
  font-size: 18px;
}

.checkbox-label input[type="checkbox"] {
  /* Ajustar el tamaño del checkbox */
  transform: scale(2);
  margin-right: 15px;
}

.days-off-input {
  width: 40px; /* Ajusta el ancho del campo de entrada */
  padding: 5px;
  text-align: center;
  font-size: 15px;
}

.btn-swipe {
  /* Ajustar el tamaño del checkbox */
  transform: scale(1.10);
}